/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
Cambio de clases: le das con .class, ejemplo .button - por defecto los botones estarán en lightgreen
*/
.button {-fx-background-color: #7e9472; } 
.button {-fx-text-fill: white;}
.button {-fx-font-weight: bold;}
.button {-fx-cursor: HAND;}
.button {-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);}
/*
.alert {-fx-background-color: darkblue;}*/

#volver           /*Todos los botones que se llamen 'volver' seran así*/
        {-fx-background-color: RED;
        -fx-text-fill: white;
        -fx-font-size: 14;
        -fx-font-weight: bold;
        -fx-font-type: Tw Cen MT Condensed Extra Bold
        } 
        
#salirfxID           /*Todos los botones que se llamen 'volver' seran así*/
        {-fx-background-color: RED;
        -fx-text-fill: white;
        -fx-font-size: 14;
        -fx-font-weight: bold;
        -fx-font-type: Tw Cen MT Condensed Extra Bold;
        }     
        



